
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
      <div class="pull-right"> Quota 20,453/50,000</div>
  </h1>


</section>
<br>
<div class="row">
  <div class="col-xs-6 col-sm-3 ">
    <div class="small-box bg-maroon">
      <div class="inner">
        <h3>10 </h3> <p> Campaigns</p>
      </div>
      <div class="icon">
        <i class="fa fa-bullhorn"></i>
      </div>
      <a href="#" class="small-box-footer">View Campaigns <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-xs-6 col-sm-3 ">
    <div class="small-box bg-teal">
      <div class="inner">
        <h3>5</h3> <p> Automate Tasks</p>
      </div>
      <div class="icon">
        <i class="fa fa-navicon"></i>
      </div>
      <a href="#" class="small-box-footer">View Campaigns <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 ">
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>2,548</h3> <p> contacts</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <a href="#" class="small-box-footer">.</a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 ">
    <div class="small-box bg-green">
      <div class="inner">
        <h3>65%</h3> <p>sent success </p>
      </div>
      <div class="icon">
        <i class="fa fa-check-circle"></i>
      </div>
      <a href="#" class="small-box-footer">.</a>
    </div>
  </div>
</div>
<br>

<div class="row">


  <div class="col-md-8">

    <div class="box box-info">
      <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
        <h3 class="box-title">Recent Activities</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div class="table-responsive">
          <table class="table no-margin">
            <tbody id="recent-table" class="">
              <tr>
                <td>14/07/60 13:30</td>
                <td>Add user:dent1</td>
              </tr>
              <tr>
                <td>14/07/60 11:35</td>
                <td>Update tempalate A0000</td>
              </tr>
              <tr>
                <td>14/07/60 08:30</td>
                <td>Add new campaign</td>
              </tr>
              <tr>
                <td>14/07/60 08:00</td>
                <td>Execute Appintment Reminder</td>
              </tr>
              <tr>
                <td>14/07/60 07:00</td>
                <td>Execute Birthday Greeting</td>
              </tr>
              <tr>
                <td>14/07/60 05:00</td>
                <td>Execute Appointment Reminder</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div> <!--col-md-8 -->
  <div class="col-md-4">

   <div class="box box-info">
    <div class="box-header with-border ui-sortable-handle" style="cursor: move;">
      <h3 class="box-title">Recent Activities</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>

    <div class="box-body">
      <div class="table-responsive">
        <table class="table no-margin">
          <tbody id="recent-table" class="">
            <tr>
              <td>Appointment Reminder</td>
              <td>90/122</td>
            </tr>
            <tr>
              <td>Birthday Greeting </td>
              <td>20/20</td>
            </tr>
            <tr>
              <td>Appointment Reminder</td>
              <td>90/122</td>
            </tr>
            <tr>
              <td>Appointment Reminder</td>
              <td>90/122</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div><!--box info-->


</div> <!-- md4 -->

<!--
  <div class="reponsive-date-table">

  <div class="panel panel-success">
  <div class="panel-body">
  <div class="row">
  <div class="col-xs-4">
  <h4>Date Time</h4>
  </div>
  <div class="col-xs-8">
  <h5>04/07/2017 12:00</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Phone No</h4>
  </div>
  <div class="col-xs-8">
  <h5>0898989898</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Doctor </h4>
  </div>
  <div class="col-xs-8">
  <h5> Dr.Prayuth</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Message</h4>
  </div>
  <div class="col-xs-8">
  <h5> ท่านมีนัดกับนพ.ประยุทธ์ ผ.ทันตกรรม วันที่ 15 ก.ค. 2560 เวลา 09:00 น.</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Appointment</h4>
  </div>
  <div class="col-xs-8">
  <h5> Date  15 July 2017</h5> 
  </div>
  </div>
  </div>
  </div>
  </div>

  <div class="panel panel-success">
  <div class="panel-body">
  <div class="row">
  <div class="col-xs-4">
  <h4>Date Time</h4>
  </div>
  <div class="col-xs-8">
  <h5>04/07/2017 12:00</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Phone No</h4>
  </div>
  <div class="col-xs-8">
  <h5>0898989898</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Doctor </h4>
  </div>
  <div class="col-xs-8">
  <h5> Dr.Prayuth</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Message</h4>
  </div>
  <div class="col-xs-8">
  <h5> ท่านมีนัดกับนพ.ประยุทธ์ ผ.ทันตกรรม วันที่ 15 ก.ค. 2560 เวลา 09:00 น.</h5> 
  </div>
  </div>
  <div class="row">
  <div class="col-xs-4">
  <h4>Appointment</h4>
  </div>
  <div class="col-xs-8">
  <h5> Date  15 July 2017</h5> 
  </div>
  </div>
  </div>
  </div>
  </div>
-->


<script type="text/javascript">


</script>


