<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">

    <% if current_page?("/") %> 
    <li class="active"> 
      <%= link_to root_path ,:class =>"active" do %>
      Dashboard
      <% end %>
    </li> 
    <% else %>
    <li>  
      <%=  link_to root_path ,:class =>"" do %>    
      Dashboard
      <% end %>
    </li>
    <%end %>

    <% if current_page?("/new-campaigns") %>

    <li class="active">
     <a class="active" href="#collap" data-toggle="collapse" data-parent="#MainMenu" aria-expanded="true" >Campaigns <i class="glyphicon glyphicon-triangle-bottom pull-right"  ></i></a>
     <div class="collapse" id="collap">
      
       <a href="/new-campaigns" class="list-group-item">New Campaigns</a>
       <a href="" class="list-group-item">Manage Campaigns</a>

     </div>
   </li>
   <%else%>
   <li>
    <a class="active" href="#campaigns" data-toggle="collapse" aria-expanded="false" >Campaigns <i class="glyphicon glyphicon-triangle-bottom pull-right"  ></i></a>
    <div class="collapse" id="campaigns">
      
     <a href="/new-campaigns" class="list-group-item">New Campaigns</a>
     <a href="" class="list-group-item">Manage Campaigns</a>

   </div>
   <%end%>
   
 </li>
 <li><a href="#">Automate Tasks</a></li>
 <li><a href="#">SMS Templates</a></li>

 <% if current_page?("/sql-query") || current_page?("/appointment") || current_page?('appointment')%>

 <li class="active">
  <a class="active" href="#datasouce" data-toggle="collapse" data-parent="#MainMenu" aria-expanded="false" >Data Source <i class="glyphicon glyphicon-triangle-bottom pull-right"  ></i></a>
  <div class="collapse" id="datasouce">
    
   <a href="/sql-query" class="list-group-item">SQL Query</a>
   <a href="" class="list-group-item">Contact List</a>
   <a href="/appointment" class="list-group-item">Appointment</a>

 </div>
 
</li>
<%else%>
<li class="">
  <a class="active" href="#datasouce" data-toggle="collapse" data-parent="#MainMenu" aria-expanded="false" >Data Source <i class="glyphicon glyphicon-triangle-bottom pull-right"  ></i></a>
  <div class="collapse" id="datasouce">
    
   <a href="/sql-query" class="list-group-item">SQL Query</a>
   <a href="" class="list-group-item">Contact List</a>
   <a href="/appointment" class="list-group-item" id="appointment-page">Appontment</a>

 </div>
 
</li>
<%end%>

<li><a href="#">Transactions</a></li>
<li><a href="#">Users</a></li>
<li><a href="#">Settings</a></li>
<li><a href="#">Logout</a></li>

</ul>

</div>
